body {
    background-color: slategray;
}

.navbar {
    padding: 0px;
}

.content {
    margin-top: 40px;
    margin-bottom: 40px !important;
}

.col-md-8 {
    background-color: white;
}

.img {
    float: left;
    margin: 5px;
}

.img-port {
    float: left;
    margin: 5px;
    max-width: 150px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    padding: 10px;
}

.banner {
    width: 140px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    background-color: teal;
    color: white;
    text-align: center;
}

@media screen and (max-width: 767px) {

.img-port {
    width: 150px;
}
.col-md-3 {
    max-width: 150px;
}
}


@media screen and (max-width: 640px) {

body {
    background-color: black;
    margin: 0;
    
}
.banner {
    margin-right: 2px;
}
.col-md-3 {
    max-width: 100%;
}


..col-md-3 {
width: 100%;
}
}